body {
  background-color: #c9b8f560;
  font-family: 'Montserrat', sans-serif;
  background-color: #c9b8f560;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #362364;
  cursor: pointer;
}

.login .loginContainer {
  padding: 60px;
  margin: 150px auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  background-color: #6b37eeb0;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(241, 241, 241, 0.651);
  color: #fff;
  letter-spacing: 1px;
  border-radius: 2px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.welcome {
  width: 30%;
  padding: 40px;
  margin: 150px auto;
  justify-content: center;
  text-align: center;
  background-color: #8357f3;
  border-radius: 4px;
}

h1 {
  color: #fff;
  padding: 20px 0;
}

#logOutButton {
  width: 86px;
  padding: 8px 0;
  background: #3a2b58;
  color: #fff;
}
